if: (type = push) AND (tag IS blank)
language: java
jdk: openjdk15
before_install:
- git checkout $TRAVIS_BRANCH
- openssl aes-256-cbc -K $encrypted_404964577bd1_key -iv $encrypted_404964577bd1_iv -in all.gpg.enc -out all.gpg -d
- cp all.gpg plugin/.
- cd plugin
install:
- mvn dependency:resolve
before_script:
- echo "DRY RUN"
- echo "DOWNLOADINg nvm.sh"
- curl -o ~/.nvm/nvm.sh https://raw.githubusercontent.com/creationix/nvm/v0.31.0/nvm.sh
- echo "DOWNLOADINg lts and running dryrun"
- ls -alh;
- source ~/.nvm/nvm.sh && nvm install v16.10.0 && npm install @semantic-release/exec 
- npx semantic-release --dry-run --branches $TRAVIS_BRANCH
- ls -alh
- source .VERSION
script:
- mvn test
jobs:
  include:
  - if: branch != main
    stage: release
    deploy:
      provider: script
      skip_cleanup: true
      script: >-
        echo VERSION=$VERSION;
      on:
        all_branches: true
  - if: branch = main
    stage: release
    deploy:
      provider: script
      skip_cleanup: true
      script: >-
        echo VERSION=$VERSION;
        bash -c "source ~/.nvm/nvm.sh && nvm install v16.10.0 && npm install @semantic-release/exec && npx semantic-release";
        bash -c "mkdir -p ~/.m2 || echo 'folder exists already...'";
        bash -c "gpg --import all.gpg && mvn versions:set -DnewVersion=$VERSION-SNAPSHOT && mvn -Darguments='-DskipTests' -DreleaseVersion=$VERSION -DdevelopmentVersion=$VERSION-SNAPSHOT -DconnectionUrl=scm:git:https://github.com/v3nd3774/testing-framework-for-dynamic-graph-program-analysis.git -B -e --settings ../.travis.settings.xml package gpg:sign release:prepare release:perform deploy"
      on:
        all_branches: true

