language: java
jdk: openjdk15
before_install:
  - cd plugin
install:
  - mvn dependency:resolve
script:
  - mvn test

jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      deploy:
        provider: script
        skip_cleanup: true
        script: |
          # Use nvm to install and use the Node LTS version (nvm is installed on all Travis images)
          bash -c "curl -o ~/.nvm/nvm.sh https://raw.githubusercontent.com/creationix/nvm/v0.31.0/nvm.sh" # update nvm
          bash -c "nvm install lts/*"
          bash -c "npx semantic-release"
        on:
          all_branches: true
